@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme("colors.warmbg");
  color: theme("colors.darktext");
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
